configuration {
 modi: "window,drun,ssh,combi,keys,run,filebrowser";

 display-drun: "Apps";
 display-run: "Run";
 display-window: "Windows";
 display-filebrowser: "Files";
 display-ssh: "SSH";

 font: "hack 10";
 combi-modi: "window,drun,ssh";
 show-icons: true;
 icon-theme: "Papirus";
 }

@theme "nord"
