* {
    background-color: black;
    text-color: white;
}

element selected {
    background-color: white;
    text-color: black;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

window {
    border: 5px;
    border-color: black;
}   
