/*
 * og from https://github.com/mubin6th/MinimalSway/tree/master
 * modified to be more nord
*/

@define-color foreground #d8dee9;
@define-color background #2e3440;

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

window#waybar {
    background: @background;
    border-bottom: 2px solid #4c566a;
}

tooltip {
    background-color: #2e3440;
    border: 2px solid #4c566a;
}

#clock,
#workspaces,
#tray,
#cpu,
#memory,
#battery,
#network,
#custom-notification,
#pulseaudio {
    margin: 6px 0px 6px 0px;
    padding: 0px 6px 0px 6px;
}

#workspaces button {
    all: initial;
    padding: 0px 6px 0px 6px;
    color: #d8dee9;
}

#workspaces button.focused {
    color: #ddc7a1;
}

#workspaces button.urgent {
    background-color: #bf616a;
    color: #d8dee9;
}

#workspaces button.active {
  background-color: #d8dee9;
  color: #3b4252;
}

#tray,
#cpu,
#memory,
#network,
#clock,
#custom-notification,
#pulseaudio {
    background-color: @background;
    color: #d8dee9;
}

#cpu.critical,
#memory.critical {
    background-color: #bf616a;
    border: 2px solid red;
    color: #2e3440;
}
